body{
    background-color: gray;
    color: blue;
}

.container{
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
}
img{
    max-width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;

}

nav > ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 1rem;
}